@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Sans+Bartle&family=BBH+Sans+Hegarty&family=Bebas+Neue&family=Instrument+Serif:ital@0;1&family=Righteous&family=Ultra&family=Unbounded:wght@200..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
* {
  scrollbar-width: thin;
  scrollbar-color: #E5E5DD;
}
:root {
  --font-110: clamp(5rem, 6vw, 8rem);
  background-color: #E5E5DD;
  color: #010101;
}

.content {
  width: 100vw;
  height: 100vh;
}